@import './base.css';

@font-face {
  font-family: SegoeUI;
  src: url('../assets/font/Roboto-Black.ttf') format('truetype'),
    /* url('../assets/font/Roboto-BlackItalic.ttf') format('truetype'),
    url('../assets/font/Roboto-Bold.ttf') format('truetype'),
    url('../assets/font/Roboto-BoldItalic.ttf') format('truetype'), */
    /* url('../assets/font/Roboto-Italic') format('truetype'),
    url('../assets/font/Roboto-Light.ttf') format('truetype'),
    url('../assets/font/Roboto-LightItalic.ttf') format('truetype'),
    url('../assets/font/Roboto-Roboto-Medium.ttf') format('truetype'),
    url('../assets/font/Roboto-Roboto-MediumItalic.ttf') format('truetype'), */
    url('../assets/font/Roboto-Roboto-Regular.ttf') format('truetype'),
    /* url('../assets/font/Roboto-Roboto-Thin.ttf') format('truetype'),
    url('../assets/font/Roboto-Roboto-ThinItalic.ttf') format('truetype'), */
}

html,
body,
#app {
  min-height: 100vh;
  height: 100%;
  font-weight: normal !important;
  font-family: Roboto;
}

.maxWidth {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.serviceLink {
  img {
    width: 32px;
    height: 32px;
  }
}

.lrPadding {
  padding: 0 12px;
}

.relative {
  position: relative;

}

.flex {
  display: flex;
}

.flex_fd {
  flex-direction: column;
}

.apostrophe {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cursor {
  cursor: pointer;
}

.van-popup {
  /* max-width: 60% !important; */
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.textColorRed {
  max-width: 60% !important;
}

/* .van-toast--text .van-toast__text {
  font-family: 'SegoeUI' !important;
} */

.betPageToast {
  top: unset !important;
}

.textColorRed {
  /* color: red !important; */
}

$max: 40;
$offset: 4;
$unit: 'px'; // Feel free to change the unit.
@mixin list-loop($className, $styleName) {
  $i: 0;
  @while $i <= $max {
    #{$className + $i} { 
      #{$styleName}: #{$i * 1 + $unit} !important; // Added !important
    }
    $i: $i + $offset;
  }
}
// Margins
@include list-loop('.m-t-', 'margin-top');
@include list-loop('.m-r-', 'margin-right');
@include list-loop('.m-b-', 'margin-bottom');
@include list-loop('.m-l-', 'margin-left');
@include list-loop('.m-x-', 'margin');
// Paddings
@include list-loop('.p-t-', 'padding-top');
@include list-loop('.p-r-', 'padding-right');
@include list-loop('.p-b-', 'padding-bottom');
@include list-loop('.p-l-', 'padding-left');
@include list-loop('.p-x-', 'padding');


.display-flex,.d-flex{
	display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
  display: flex;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.center-center{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.align-center{
	display: flex;
	align-items: center;
}
.justify-between,.space-between{
	display: flex;
	justify-content: space-between;
}
.justify-end{
  display: flex;
  justify-content: flex-end;
}
.justify-around{
  display: flex;
  justify-content: space-around;
}
.color-fff{
  color: #fff;
}
.font12{
  font-size: 12px;
}
.font14{
  font-size: 14px;
}
.font16{
  font-size: 16px;
}
.text-center{
  text-align: center;
}