@import './base.css';

@font-face{
  font-family: poppins;
  src:url('../assets/font/Poppins-Bold.ttf') format('truetype'),
  url('../assets/font/Poppins-Medium.ttf') format('truetype'),
  url('../assets/font/Poppins-Regular.ttf') format('truetype');
}
html ,body , #app{
  font-family: poppins;
  height: 100%;
  
}
.maxWidth{
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.flex_fd{
  flex-direction: column;
}
.van-popup{
  max-width: 335px !important;
  flex-wrap: wrap;
}
 .van-toast--text  .van-toast__text {
  font-family: 'poppins' !important;
}


