@import './base.css';

@font-face {
  font-family: Roboto;
  src: url('../assets/font/Roboto-Black.ttf') format('truetype'),
    url('../assets/font/Roboto-BlackItalic.ttf') format('truetype'),
    url('../assets/font/Roboto-Bold.ttf') format('truetype'),
    url('../assets/font/Roboto-BoldItalic.ttf') format('truetype'),
    url('../assets/font/Roboto-Italic') format('truetype'),
    url('../assets/font/Roboto-Light.ttf') format('truetype'),
    url('../assets/font/Roboto-LightItalic.ttf') format('truetype'),
    url('../assets/font/Roboto-Roboto-Medium.ttf') format('truetype'),
    url('../assets/font/Roboto-Roboto-MediumItalic.ttf') format('truetype'),
    url('../assets/font/Roboto-Roboto-Regular.ttf') format('truetype'),
    url('../assets/font/Roboto-Roboto-Thin.ttf') format('truetype'),
    url('../assets/font/Roboto-Roboto-ThinItalic.ttf') format('truetype'),
}

html,
body,
#app {
  font-family: Roboto;
  height: 100%;

}

.maxWidth {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.serviceLink {
  img {
    width: 32px;
    height: 32px;
  }
}

.lrPadding {
  padding: 0 12px;
}

.relative {
  position: relative;

}

.flex {
  display: flex;
}

.flex_fd {
  flex-direction: column;
}

.apostrophe {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cursor {
  cursor: pointer;
}

.van-popup {
  /* max-width: 335px !important; */
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.van-toast--text .van-toast__text {
  font-family: 'Roboto' !important;
}

.betPageToast {
  top: unset !important;
}

.textColorRed {
  color: red !important;
}

.hideInputBtn[type="number"]::-webkit-inner-spin-button,
.hideInputBtn[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hideInputBtn[type="number"] {
  -moz-appearance: textfield;
  /* Firefox 兼容性 */
}